<?xml version="1.0" encoding="UTF-8"?>
<!-- Servlet 3.0(Tomcat 7 실제 구현 버전)으로 선언 - 3.1로 선언하면 mvn tomcat7:run 실행 시
     ClassCastException이 난다(pom.xml의 javax.servlet-api 버전 조정 사유 참고) -->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                              http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>QA로그</display-name>

    <session-config>
        <session-timeout>43200</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <max-age>2592000</max-age>
        </cookie-config>
    </session-config>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/root-context.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>appServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <!-- 첨부파일 업로드(오류 등록 시 스크린샷) - Servlet 3.1 표준 멀티파트, 별도 라이브러리 불필요 -->
        <multipart-config>
            <max-file-size>10485760</max-file-size>      <!-- 10MB -->
            <max-request-size>52428800</max-request-size> <!-- 50MB -->
        </multipart-config>
    </servlet>

    <servlet-mapping>
        <servlet-name>appServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
